.pricing-blocks {
    color: #fff;

    @media screen and (min-width: 768px) {
        padding-bottom: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.pricing-block-item {
    margin-bottom: 1.5rem;
    background: #6a994e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 30px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        padding-bottom: 60px;
    }
    @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
            @include rounded-box(11.354px, 0 3.785px 94.621px 0 rgba(0, 0, 0, 0.15));
            @media screen and (min-width: 768px) {
                @include showBlock(#{$i * 0.5}s, 0.3s);
            }
        }
    }
    &:nth-child(2) {
        @include rounded-box(11.354px, 0 3.785px 94.621px 0 rgba(0, 0, 0, 0.15));
        background: #1d252b;
        position: relative;
        z-index: 2;
        @media screen and (min-width: 768px) {
            margin: -37px -17px 0;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
        }
        height: 100%;
        header {
            border-bottom: none;
        }

        .start {
            @include button-with-shadow();

            img {
                width: 16px;
                height: 16px;
            }
        }
    }

    header,
    article {
        padding: 1.5rem;
        @media screen and (min-width: 768px) {
        }
        @media screen and (min-width: 1200px) {
            padding: 37.85px 60px;
        }
    }

    header {
        border-bottom: 0.946px solid rgba(255, 255, 255, 0.1);
    }

    .title,
    .about {
        @include text-styles(#fff, 1rem, 600);
        margin-bottom: 15.14px;
    }

    .currency {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        @include text-styles(#fff, 11.354px, 500);
        cursor: pointer;

        &:hover {
            color: greenyellow;
        }
    }

    .price {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        @include text-styles(#fff, 37.848px, 800);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 15.14px;
        margin-bottom: 15.14px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 0;
            width: 100%;
            height: 0.946px;
            background: rgba(255, 255, 255, 0.1);
        }
    }

    .period {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: rgba(255, 255, 255, 0.7);
        font-size: 12px;
        cursor: pointer;
        padding-bottom: 10px;
        -ms-flex-item-align: end;
        align-self: flex-end;

        &:hover {
            color: greenyellow;
        }
    }

    .features-list {
        margin: 24px 0 45px;
        list-style: none;

        li {
            position: relative;
            padding-left: 17.57px;
            margin-bottom: 15.14px;
            opacity: 0.8;

            &.additional {
                font-weight: 500;
                opacity: 1;
            }

            &::before {
                content: "";
                position: absolute;
                left: 0;
                height: 6px;
                width: 10px;
                bottom: 0;
                top: 0;
                margin: auto;
                background: url(../images/pointer.svg) no-repeat center;
                background-size: contain;
            }
        }
    }

    .start {
        @include button-with-shadow();
    }
}
