* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@import "mixins";

body {
    font-family: "Inter", sans-serif;
}

.content {
    @include gradient-box-shadow(#36603e, #1e262c);
    min-height: 100vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 20px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;

    @media screen and (min-width: 576px) {
        max-width: 540px;
    }

    @media screen and (min-width: 768px) {
        max-width: 720px;
    }

    @media screen and (min-width: 992px) {
        max-width: 960px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1140px;
    }
}

.heading {
    margin: -5rem auto;
    max-width: 100%;
    display: none;
    @media screen and (min-width: 992px) {
        display: block;
    }
}

h1 {
    &.invisible {
        @include text-styles(#fff, 2rem, 600);
        margin: 2.5rem auto 32px;
        text-align: center;

        @media screen and (min-width: 992px) {
            display: none;
        }
    }
}

.burger {
    width: 2rem;
    height: 1.5rem;
    position: relative;

    span {
        width: 100%;
        height: 2px;
        position: absolute;
        border-radius: 5px;
        background: #fff;
        transition: transform 0.3s ease-in-out;
        margin: auto;
        transform-origin: center;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        &:nth-child(1) {
            bottom: auto;
        }
        &:nth-child(3) {
            top: auto;
        }
    }
    &.opened {
        span {
            transition: transform 0.3s ease-in-out;
            transform-origin: center;
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(1) {
                transform: rotate(45deg);
                bottom: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
                top: 0;
            }
        }
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}

@import "header";
@import "pricing";
